nav {
  background-color: #333;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav[data-organization='org2'] {
  background-color: rgb(19, 42, 81);
}

nav[data-organization='org1'] {
  background-color: #cf3d4f;
}

nav img {
  height: 50px;
  margin-right: 1em;
}

nav h1 {
  display: inline;
  margin-right: auto;
}

nav ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em;
}